---
services:
  goaccess:
    image: allinurl/goaccess:${GOACCESS_TAG}
    restart: 'no'
    user: "${GOACCESS_UID}:${GOACCESS_GID}"
    cpu_shares: {{ goaccess_docker_cpu_shares }}
    environment:
      TZ: ${TZ}
    volumes:
      - ./conf/goaccess:/etc/goaccess:ro
      - ${GOACCESS_DB_DIR}:/data/db
      - ${GOACCESS_REPORT_DIR}:/data/report
{% if goaccess_docker_geolite2_city_url %}
      - ${GOACCESS_DATA_DIR}/GeoLite2-City.mmdb:/GeoLite2-City.mmdb:ro
{% endif %}

{% if goaccess_docker_nginx_deploy %}
  nginx:
    image: nginxinc/nginx-unprivileged:${NGINX_TAG}
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    networks:
      - {{ goaccess_docker_nginx_network_name }}
    volumes:
      - ./conf/nginx:/etc/nginx/conf.d:ro
      - ${GOACCESS_REPORT_DIR}:/usr/share/nginx/html:ro

    labels: {{ goaccess_docker_nginx_labels|tojson }}
    ports: {{ goaccess_docker_nginx_ports|tojson }}

{% if goaccess_docker_nginx_network_name != 'default' %}
networks:
  {{ goaccess_docker_nginx_network_name }}:
    external: true
    name: {{ goaccess_docker_nginx_network_name }}
{% endif %}

{% endif %}
